<div class="mall-product-reviews card shadow-sm border-0">
    <div class="card-body">
    <h3 class="mall-product-reviews__heading h4">
        {{ 'kodzero.posmall::frontend.reviews.heading'|trans }}
    </h3>

    {% if __SELF__.allReviews.count|default(0) > 0 %}
        <div class="mall-product-reviews__info">
            {% partial __SELF__ ~ '::overall' %}
        </div>
    {% endif %}

    <div id="write-review"></div>
    <div class="mall-product-reviews__info" id="mall-rating-widget">
        {% partial __SELF__ ~ '::userreview' %}
    </div>

    <div class="mall-reviews">
        {% partial __SELF__ ~ '::reviews' reviews=__SELF__.reviews %}
    </div>
    </div>
</div>

{% partial __SELF__ ~ '::scripts' %}
