<header class="mall-quick-checkout__collapsible-header card-header bg-transparent d-flex justify-content-between gap-3">
    <h2 class="mall-quick-checkout__heading h5 mb-0">{{ 'kodzero.posmall::frontend.shipping'|trans }}</h2>
    <div class="mall-quick-checkout__collapsible-summary text-muted">
        {% if cart.shipping_method is defined %}
            {{ cart.shipping_method.name|default(null) }}
        {% endif %}
    </div>
</header>
<section class="mall-quick-checkout__collapsible-content card-body">
    <div class="mall-quick-checkout__collapsible-inner d-grid gap-3">
        {% for method in __SELF__.shippingMethods %}
            {% set isActiveMethod = cart.shipping_method.id == method.id %}
            <a href="javascript:;" class="mall-quick-checkout__toggle-option card text-decoration-none text-reset
     {{ isActiveMethod ? 'mall-quick-checkout__toggle-option--active border-primary' : '' }}"
               data-request="onChangeShippingMethod"
               data-request-data="id: '{{ method.id }}'"
               data-request-success="window.POSMallBus && window.POSMallBus.publish('posmall.cart.shippingMethodChanged', data)"
            >
                <div class="card-body d-flex align-items-center gap-3">
                <div class="mall-quick-checkout__toggle-option-selection">
                    <div
                        class="mall-selection-indicator {{ isActiveMethod ? 'mall-selection-indicator--active' : '' }}">
                        &check;
                    </div>
                </div>
                <div class="mall-quick-checkout__toggle-option-text flex-grow-1">
                    <h4 class="mall-quick-checkout__toggle-option-name h6 mb-1">{{ method.name }}</h4>
                    <div class="mall-quick-checkout__toggle-option-meta small text-muted">
                        {% if method.guaranteed_delivery_days|default(null) %}
                            <p>
                                {% set days = method.guaranteed_delivery_days %}
                                {{ 'kodzero.posmall::frontend.shipping_method.guaranteed_delivery_days'|transchoice(days, {days: days}) }}
                            </p>
                        {% endif %}
                    </div>
                    <div class="mall-quick-checkout__toggle-option-price fw-semibold">
                        {#
                           If a shipping method has rates, we only display the price once it is selected.
                           This way we can re-use the TotalCalculator's logic and display the effective
                           price the user has to pay including the special rates.
                        #}
                        {% if method.rates.count|default(0) > 0 %}
                            {{ isActiveMethod
                            ? (__SELF__.cart.totals.shippingTotal.totalPostTaxes|money )
                            : ( 'kodzero.posmall::frontend.select_for_shipping_total'|trans ) }}
                        {% else %}
                            {{ method.price().integer > 0
                            ? (method.price().string|raw)
                            : ('kodzero.posmall::frontend.no_additional_charges'|trans) }}
                        {% endif %}
                    </div>
                </div>
                {% if method.logo|default(null) %}
                    <div class="mall-quick-checkout__toggle-option-logo">
                        <img class="mall-quick-checkout__toggle-option-image"
                             src="{{ method.logo.thumb(75, 75) }}" alt=""/>
                    </div>
                {% endif %}
                </div>
            </a>
        {% else %}
            <p class="alert alert-warning mb-0">{{ 'kodzero.posmall::frontend.no_shipping_method_available'|trans }} </p>
        {% endfor %}
    </div>
</section>
