<p class="text-muted">{{ 'kodzero.posmall::frontend.shipping_method.choose'|trans }}</p>
<form data-request-validate data-request="{{ __SELF__ }}::onSubmit">
    {{ form_token() }}
    <div class="mall-shipping-method__errors invalid-feedback d-block mb-3" data-validate-for="shipping_method"></div>
    <div class="mall-shipping-method d-grid gap-3">
        {% for method in __SELF__.methods %}
            {% partial __SELF__ ~ '::method' method=method %}
        {% endfor %}
    </div>
    <div class="mall-shipping-method__proceed mt-3">
        <button class="mall-btn mall-btn--primary btn btn-primary"
                type="submit"
                data-attach-loading
                {{ cart.shipping_method_id|default(null) is empty ? 'disabled' }}>
            Proceed to Confirm Order
        </button>
    </div>
</form>
