{% if address|default(null) %}
    <div class="mall-address card bg-body-tertiary border-0" id="mall-address-{{ __SELF__.alias }}">
        <div class="card-body">
        <p class="mb-2">
            {% if address.company %}
                {{ address.company }}<br/>
            {% endif %}
            {{ address.name }}<br/>
            {{ address.lines|e|nl2br }}<br/>
            {{ address.zip }} {{ address.city }}<br/>
            {% if address.state_id %}
                {{ address.state.name }} <br/>
            {% endif %}
            {{ address.country.name }}
            {% if __SELF__.type == 'shipping' and address.delivery_notes|default(null) %}
                <br/>
                <span class="small text-muted">
                    <strong>{{ 'kodzero.posmall::frontend.form.delivery_notes'|trans }}:</strong>
                    {{ address.delivery_notes|e|nl2br }}
                </span>
            {% endif %}
        </p>
        <p class="mall-address__actions mb-0">
            <a href="javascript:;" class="js-change-address btn btn-outline-primary btn-sm" data-type="{{ __SELF__.type }}">
                {{ 'kodzero.posmall::frontend.change'|trans }}
            </a>
        </p>
        </div>
    </div>
{% endif %}
